@font-face {
    font-family: Radley;
    src: url("../fonts/Radley.otf") format("opentype");
}

@font-face {
    font-family: PNR;
    src: url("../fonts/PragatiNarrow-Regular.otf") format("opentype");
}

@font-face {
    font-family: PNB;
    src: url("../fonts/PragatiNarrow-Bold.otf") format("opentype");
}