* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

body.default {
    background: linear-gradient(284.84deg, #FFFFFF 39.65%, rgba(255, 255, 255, 0) 87.46%), #ECD7D7;
}

body.night {
    background: linear-gradient(284.84deg, #4F489C 39.65%, rgba(255, 255, 255, 0) 87.46%), #423481;
}

body.night {
    color: #fff;
}

.container {
    max-width: 1300px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.row, .column {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.row_js-sb {
    justify-content: space-between;
}

.row_jc-c {
    justify-content: center;
}

.row_ai-c {
    align-items: center;
}

.column_jc-c {
    justify-content: center;
}

.column_ai-c {
    align-items: center;
}

.button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.button_frame {
    padding: 10px;
    transition: .3s ease-in-out;
}

.button_frame-l {
    border-radius: 0 0 15px 0;
}


.button_frame-r {
    border-radius: 0 0 0 15px;
}

.button_frame:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}


.frame-buttons {
    font-family: Radley, sans-serif;
    font-size: 40px;
}

.header {
    font-size: 20px;
    font-family: Radley, sans-serif;
    padding-top: 20px;
}

.search-box {
    position: relative;
    max-width: 214px;
    width: 100%;
}

.search-box input,
.search-box .button {
    position: absolute;
}

.search-box .button {
    z-index: 1;
    left: 22px;
    top: 17px;
}

.search-box input {
    width: 100%;
    padding: 6px 30px 6px 60px;
    border: none;
    background: #ECD7D7;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-family: PNR, sans-serif;
    font-size: 25px;
    outline: none;
}

.search-box input::placeholder {
    font-family: PNR, sans-serif;
    font-size: 25px;
}

.content {
    padding-top: 90px;
}

.weather-box {
    max-width: 65px;
    padding: 14px 8px;
    border-right: 3px solid #000;
    margin-bottom: 40px;
}

.weather-box p {
    max-width: 100px;
    width: 100%;
    text-align: center;
    font-family: PNB, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
}

.day-name {
    width: 5px;
    font-family: PNB, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    padding-left: 8px;
    padding-top: 6px;
    margin-right: 20px;
}

.temp {
    position: relative;
    font-family: PNB, sans-serif;
    font-size: 50px;
}

.temp:after {
    content: url("../img/Ellipse.png");
    position: absolute;
    font-family: PNB, sans-serif;
    font-size: 20px;
}

.weather-box_current-day {
    max-width: 330px;
    padding: 26px 36px 26px 0;
    margin-bottom: 0;
}

.weather-box_current-day span {
    width: 100%;
    display: block;
    font-family: PNB;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.temp_current-day {
    font-size: 120px;
    line-height: 160px;
    padding-left: 36px;
}

.temp_current-day:after {
    content: url("../img/EllipseBig.png");
    top: -60px;
}

.current-date * {
    text-align: right;
    font-family: PNB;
    font-size: 40px;
    text-transform: uppercase;
}

.current-geo {
    font-size: 25px;
    font-family: PNR;
    text-align: right;
}

.image {
    background: url("../img/mden.jpg");
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.image_morning {
    background-position: -25px -65px;
}

.image_day {
    background-position: -575px -55px;
}

.image_evening {
    background-position: -25px -420px;
}

.image_night {
    background-position: -575px -420px;
}